.dashboard {
    width: 65%;
    margin-left: auto;
    margin-right: 0;
}

.dashboard__row {
    height: 60px;
    border-bottom: 1px solid #b8b8b8
}

.dashboard__cell {
    padding-right: 10px;
    padding-left: 10px;
}