.header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    border-bottom: solid 1px;
}

.header__menu {
    display: table;
    height: 100%;
}

.header__servicename {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    padding-right: 20px;
}