<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ホストの管理</title>
</head>
<body>
<div>

</div>
<div class="container">
  <div>
    <table>
      {{#.}}
        <tr>
          <td>{{.}}</td>
        </tr>
      {{/.}}
    </table>
  </div>
</div>
</body>
</html>
