<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ホストの管理</title>
  <link rel="stylesheet" href="/css/sanitize.css">
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/clearfix.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/delete.js"></script>
</head>
<body>
<div>

</div>
{{> partial/header}}
<div class="container content">
  <div>
    <table>
      {{#.}}
        <tr id="host_{{id}}" >
          <td>{{name}}</td>
          <td>
            <button type="submit" onclick="confirmAndDeleteHost('host_{{id}}', {{id}}, '{{name}}')">削除</button>
          </td>
        </tr>
      {{/.}}
    </table>
  </div>
</div>
</body>
</html>
