<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="content">
  <div class="host-form">
    <form action="/host/register" method="POST">
      <label for="">ホスト名<input name="host_name" type="text"></label>
      <input type="submit" value="登録">
    </form>
  </div>
</div>
</body>
</html>
