<div class="header cf">
  <div class="container">
    <div class="header__service">
      <span class="header__service__name">Pigeonhole BETA</span>
    </div>
    <ul class="header__menu">
      <li class="header__menu__elem">
        <a class="header__menu__link" href="/dashboard">ダッシュボード</a>
      </li>
      <li class="header__menu__elem">
        <a class="header__menu__link" href="/host/list">ホスト一覧</a>
      </li>
      <li class="header__menu__elem">
        <a class="header__menu__link" href="/host/register">ホスト登録</a>
      </li>
    </ul>
  </div>
</div>