<!doctype html>
<html lang="ja" class="height-full">
<head>
  <meta charset="UTF-8">
  <title>ダッシュボード</title>
  <link rel="stylesheet" href="/css/sanitize.css">
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/clearfix.css">
</head>
<body class="height-full">
{{> partial/header}}
<div class="container content"><!--main-->
  <div class="dashboard">
    <table class="dashboard__table">
      <tr class="dashboard__row">
        <th class="dashboard__cell">ホスト</th>
        <th class="dashboard__cell dashboard__cell__branch">ブランチ</th>
        <th class="dashboard__cell dashboard__cell__deploytime">デプロイ日時</th>
      </tr>
      {{#.}}
        <tr class="dashboard__row">
          <td class="dashboard__cell">{{hostMachineName}}</td>
          <td class="dashboard__cell dashboard__cell__branch">{{branchName}}</td>
          <td class="dashboard__cell dashboard__cell__deploytime">{{deployTime}}</td>
        </tr>
      {{/.}}
    </table>
  </div>
</div>
</body>
</html>