<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ダッシュボード</title>
  <link rel="stylesheet" href="/css/sanitize.css">
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="container header">
 <span class="header--servicename">Pigeonhole</span>
</div>
<div class="container"><!--main-->
  <div class="content"></div>
  <div class="table">
    <table>
      <tr>
         <th>ホスト</th>
         <th>ブランチ</th>
         <th>デプロイ日時</th>
       </tr>
     {{#.}}
       <tr>
         <td>{{hostMachineName}}</td>
         <td>{{branchName}}</td>
         <td>{{deployTime}}</td>
       </tr>
     {{/.}}
    </table>
  </div>
</div>
</body>
</html>