<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>How to Use</title>
  <link rel="stylesheet" href="/css/sanitize.css">
  <link rel="stylesheet" href="/css/container.css">
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/clearfix.css">
</head>
<body class="height-full">
{{> partial/header}}
<div class="container content"><!--main-->
  <div class="dashboard">

  </div>
</div>
</body>
</html>